<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Adgroup Exam Angular</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto" *ngIf="isAuthenticated">

      <li class="nav-item">
        <a class="nav-link" routerLink="/ip-address">IP Address</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/activity-logs">Activity Logs</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf="!isAuthenticated">
      <li><a href="#" class="nav-link" routerLink="/register"> Sign Up</a></li>
      <li><a href="#" class="nav-link" routerLink="/login"> Login</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf="isAuthenticated">
      <li><a style="cursor: pointer" class="nav-link" (click)="signOut()">Logout</a></li>
    </ul>
  </div>
</nav>
