<div class="container" style="margin-top: 70px;">

    <div class="row">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-6">
                    <div>
                        <a class="btn btn-primary nav-link" [routerLink]="['/ip-address/create']">Add New</a>
                    </div>

                    <table class="table">
                        <thead>
                            <th>IP Address</th>
                            <th>Label</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ipAddress of ipAddresses">
                                <td>{{ipAddress.ip_address}}</td>
                                <td>{{ipAddress.label}}</td>
                                <td><a class="nav-link" [routerLink]="['/ip-address/edit', ipAddress.id]">Edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
