<div class="container" style="margin-top: 70px;">

    <div class="row">
        <div class="container">
            <div class="row justify-content-md-center">

                <div class="col-12">
                    <h3>Activity Logs</h3>
                    <table class="table">
                        <thead>
                        <th>Description</th>
                        <th>Name</th>
                        <th>IP Address</th>
                        <th>Date</th>
                        </thead>
                        <tbody>
                        <tr *ngFor="let activityLog of activityLogs">
                            <td>{{activityLog.description}}</td>
                            <td *ngIf="activityLog.logged_by">{{activityLog.logged_by.name}}</td>
                            <td *ngIf="!activityLog.logged_by">Guest</td>
                            <td>{{activityLog.ipAddress}}</td>
                            <td>{{activityLog.created_at | date: 'YY-MM-YYY hh:mma'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
