<div class="container" style="margin-top: 70px;">

  <div class="row">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-6">
          <div class="card card-default">
            <div class="card-header">Login</div>
            <div class="card-body">
              <form class="ex-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h2>Login</h2>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input class="form-control" placeholder="Email" id="email" type="email" formControlName="email">
                  <label for="password">Password</label>
                  <input class="form-control" placeholder="Password" id="password" type="password" formControlName="password">
                </div>
                <div class="form-group">
                  <button class="btn btn-primary">Login</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
