<div class="container" style="margin-top: 70px;">

    <div class="row">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-6">
                    <div class="card card-default">
                        <div class="card-header">Registration</div>
                        <div class="card-body">
                            <form class="ex-form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input class="form-control" placeholder="Name" id="name" type="text" formControlName="name">
                                    <label for="email">Email</label>
                                    <input class="form-control" placeholder="Email" id="email" type="email" formControlName="email">
                                    <label for="password">Password</label>
                                    <input class="form-control" placeholder="Password" id="password" type="password" formControlName="password">
                                    <label for="password_confirmation">Password Confirm</label>
                                    <input class="form-control" placeholder="Password" id="password_confirmation" type="password" formControlName="password_confirmation">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
