<div class="container" style="margin-top: 70px;">
    <div class="row">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-6">
                    <div class="card card-default">
                        <div class="card-header">Edit IP Address</div>
                        <div class="card-body">
                            <form class="ex-form" [formGroup]="ipAddressEditForm" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <label for="ip_address">IP Address</label>
                                    <input readonly="true" class="form-control" placeholder="IP Address" id="ip_address" type="text" formControlName="ip_address">
                                    <label for="label">Label</label>
                                    <input class="form-control"  placeholder="Label" id="label" type="text" formControlName="label">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
